<div class="grid-page">

  <div class="logo-space"></div>
  <img  class="bio-pic" src="assets/images/bio-large-2.jpg">
  <p class="credit">photo credit: David McNulty</p>
  <div class="bio-text">
    <h2>I can't remember when it all began...</h2>
    <p>I can't remember a time when cameras and photographs weren't a part of my life. Even as a small child I had a camera. This was back in the film days, when point and shoot cameras where very simple. My parents had given my brother and I an old one to play with. There was never any film in it, and it probably didn't work, but at that age it didn't matter. I was just pretending to take pictures just like mom and dad, but unbeknownst to me, I was learning to see the world around me as I looked through the view finder. </p>
    <p>Looking through the lens of a camera changes the way you see the world. You see more than the subject in front of you, you see a mood, you see meaning, or you see a small wonder that has otherwise been ignored. You see fleeting moments in time that will never happen twice, that may never be seen again, except in a photograph.
    </p>
  </div>
  <div class="home-buttons-box">
    <h2 class="home-button" routerLink="/categories/adventure">Adventures</h2>
    <h2 class="home-button" routerLink="/categories/serenity">Serenities</h2>
    <h2 class="home-button" routerLink="/categories/small-wonders">Small Wonders</h2>
  </div>
</div>

